pipeline/pl_if_getmetadat_oindrila.json
{
	"name": "pl_if_getmetadat_oindrila",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"description": "if the dataset  is a folder or a file ",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata').output.itemType, 'Folder')\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_itemtype",
								"value": "This is a File"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_itemtype",
								"value": "This is a Folder"
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmetadata_nabuda",
						"type": "DatasetReference",
						"parameters": {
							"param_container": {
								"value": "@pipeline().parameters.param_container",
								"type": "Expression"
							},
							"param_directory": {
								"value": "@pipeline().parameters.param_directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemType",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"param_container": {
				"type": "string",
				"defaultValue": "nabuda"
			},
			"param_directory": {
				"type": "string",
				"defaultValue": "nabu/01"
			}
		},
		"variables": {
			"var_itemtype": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-18T14:32:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}